@charset "utf-8";

a {
	text-shadow: none;
	color: #ffffff;
}

.login {
	background-color: #666 !important;
}

.login .header {
	margin-top: 90px;
	width: 75%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 15px 0;
}

#logo {
	float: left;
	font-family: 'Microsoft YaHei';
	font-size: 30px;
	color: #FFFFFF; /*#804040*/
	font-weight: bold;
	margin-top: 40px;
}

.topLink {
	float: right;
	color: #ccc;
	position: relative;
	top: 32px;
}

.login .main {
	width: 1000px;
	height: 500px;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px; /* (width + padding)/2 */
	margin-top: -250px; /* (height + padding)/2 */
}

.login .alert {
	padding: 13px;
	margin-bottom: 5px;
	font-weight: bold;
}

.login .form-group {
	margin-bottom: 13px;
}

.login .leftcontent {
	float: left;
	height: 500px;
	width: 500px;
	margin: 60px auto 30px auto;
	padding-top: 10px;
	overflow: hidden;
	position: relative;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.50px;
	line-height: 30px;
}

#title {
	font-family: 'Microsoft YaHei';
	font-size: 30px;
	color: #FFFFFF; /*#804040*/
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}

.login .content {
	float: right;
	background: rgba(255, 255, 255, 0.3);
	/* background-color: white; */
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	width: 400px;
	margin: 60px auto 30px auto;
	padding: 30px 30px 0px;
	padding-top: 10px;
	overflow: hidden;
	position: relative;
}

.login .content h3 {
	color: #4db3a5;
	text-align: left;
	font-weight: 400 !important;
}

.login .content h4 {
	color: #555;
}

.login .content .hint {
	color: #999;
	padding: 0;
	margin: 15px 0 7px 0;
}

.login .content .login-form, .login .content .forget-form {
	padding: 0px;
	margin: 0px;
}

.login .content .form-control {
	border: none;
	background-color: #ffffff;
	height: 43px;
	color: #000000;
	font-family: verdana;
	font-size: 16px;
	border: 1px solid #dde3ec;
}

.login .content .form-control:focus, .login .content .form-control:active
	{
	border: 1px solid #0080ff;
}

.login .content .form-control::-moz-placeholder {
	color: #8290a3;
	opacity: 1;
}

.login .content .form-control:-ms-input-placeholder {
	color: #8290a3;
}

.login .content .form-control::-webkit-input-placeholder {
	color: #8290a3;
}

.login .content .forget-form {
	display: none;
}

.login .content .form-title {
	font-weight: 300;
	margin-bottom: 25px;
}

.login .content .form-actions {
	clear: both;
	border: 0px;
	border-bottom: 0px solid #eee;
	padding: 25px 30px;
	margin-left: -30px;
	margin-right: -30px;
}

.login .content .form-actions>.btn {
	margin-top: -2px;
}

.login-options {
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.login-options h4 {
	float: left;
	font-weight: 600;
	font-size: 15px;
	color: #7d91aa !important;
}

.login-options .social-icons {
	float: right;
	padding-top: 3px;
}

.login-options .social-icons li a {
	border-radius: 15px 15px 15px 15px !important;
	-moz-border-radius: 15px 15px 15px 15px !important;
	-webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .forget-form .form-actions {
	border: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.login .content .form-actions .btn {
	margin-top: 1px;
}

.login .content .form-actions .btn {
	font-weight: 600;
	padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
	font-weight: 600;
	padding: 10px 25px !important;
	color: #6c7a8d;
	background-color: #ffffff;
	border: none;
}

.login .content .form-actions .btn-default:hover {
	background-color: #fafaff;
	color: #45b6af;
}

.login .content .forget-password {
	font-size: 14px;
	float: right;
	display: inline-block;
	margin-top: 10px;
}

.login .content .create-account {
	margin: 0 -40px -30px -40px;
	padding: 15px 0 17px 0;
	text-align: center;
	background-color: #6c7a8d;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-ms-border-radius: 0 0 7px 7px;
	-o-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

.login .content .create-account>p {
	margin: 0;
}

.login .content .create-account p a {
	font-weight: 600;
	font-size: 14px;
	color: #c3cedd;
}

.login .content .create-account a {
	display: inline-block;
	margin-top: 5px;
}

/* footer position:absolute;    bottom: 0px; '定位类型为绝对位置 */
.login .footer {
	width: 100%;
	position: absolute;
	bottom: 30px;
	margin: 0 auto;
	color: #32c5d2;
	text-align: center;
	/*padding-top: 10px;*/
}

.login .footer .copyright {
	text-align: center;
	margin: 0 auto 30px 0;
	padding: 10px;
	color: #7a8ca5;
	font-size: 13px;
}

@media ( max-width : 440px) {
	/***
  Login page
  ***/
	.login .logo {
		margin-top: 10px;
	}
	.login .content {
		width: 280px;
		margin-top: 10px;
	}
	.login .content h3 {
		font-size: 22px;
	}
	.forget-password {
		display: inline-block;
		margin-top: 20px;
	}
	.login-options .social-icons {
		float: left;
		padding-top: 3px;
	}
}

.login_wechat {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(wechat.png) no-repeat;
	vertical-align: top;
	margin-right: 0px;
}

/* clear float */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}